@import "tailwindcss";

@theme {
    --font-akira: "Akira", "sans-serif";
}

@font-face {
    font-family: Akira;
    display: swap;
    src: url("../lib/fonts/akira_expanded.otf");
}

:root{
    --hotbar-bkg-color:#ff013c;

    --sliding-link-nuetral:#888;

    --background-light:#fff;
    --background-dark:#223;

    --border-light-mode:#000;
    --border-dark-mode:#fff;

    --text-light:#000;
    --text-dark:#fff;

    --btn-active-light:lightgreen;
    --btn-disable-light:pink;
    --btn-danger-light:red;

}